      .crystal-image {
       width: 100px;
       height: 100px;
	   margin: 10px;
      }
	  
	  #lastWinLoss{
		  background-color:orange;
		  width: 70px;
	  }

	  #newSession{
		  background-color:yellow;
		  width: 260px;
		  margin-left: 20px;
	  }